<configuration>
    <!-- Define the root level and appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/camunda-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>/logs/camunda-app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Keep 30 days' worth of history -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger level and attach the appender -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
